

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.login-box {
  background: #ffffff;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.login-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-box input {
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-box button {
  padding: 12px;
  background: #4f46e5;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-box p {
  text-align: center;
  margin-top: 10px;

}


.register{
  color: #000000;
 text-decoration: none;;
}